.header-bar {
  max-width: 100vw;
  color: $special-color-header;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    a {
      color: $special-color-header;
    }
  }
}
