.header-category {
  max-width: 100vw;
  background-color: $white;
  border-bottom: 1px solid $border-fill;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__link {
    display: inline-flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;

    padding: 14px 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    @include vp-tablet {
      font-size: 14px;
    }

    @include hover-focus {
      opacity: 1;
      color: $primary;
      background-color: $bg-hover;
    }

    &:active:active {
      opacity: 0.5;
    }

    &--gifts {

      @include hover-focus {
        box-shadow: -50px 0 0 0 $bg-hover;

        @include vp-desktop {
          box-shadow: -600px 0 0 0 $bg-hover;
        }
      }

      span {
        display: flex;
        align-items: flex-end;

        &::before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;

          mask-image: url('/images/icon-gifts.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: cover;

          background: currentColor;
          margin-right: 9px;
        }
      }
    }

    &--attachments {
      @include hover-focus {
        box-shadow: 50px 0 0 0 $bg-hover;

        @include vp-desktop {
          box-shadow: 600px 0 0 0 $bg-hover;
        }
      }

      span {
        display: flex;
        align-items: center;

        &::before {
          content: "";
          display: block;
          width: 26px;
          height: 26px;

          mask-image: url('/images/icon-attachments.svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: cover;

          background: currentColor;
          margin-right: 9px;
        }
      }
    }
  }

  &__item {
    position: relative;
    width: 100%;
    &--gifts {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $border-fill;
      }
    }
  }
}
