.viewed {
  margin-bottom: 110px;
  max-width: 100vw;
  color: $base;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 40px;

    @include vp-tablet {
      margin-bottom: 50px;
    }
  }

  &__slider-card {
    .catalog-card__cart-btn span {
      display: none;
    }
  }

  @include vp-tablet {
    margin-bottom: 120px;
  }
}
