.article {
  max-width: 100vw;

  &__container {
    @include vp-tablet-landscape {
      position: relative;
      display: grid;
      grid-template-columns: 25% auto;
      gap: 5.15%;
    }
  }

  &__nav {
    margin-bottom: 70px;

    @include vp-tablet {
      margin-bottom: 80px;
    }

    @include vp-tablet-landscape {
      position: sticky;
      margin-bottom: 0;
    }
  }

  &__content {
    @include vp-tablet-landscape {
      padding-right: 18.53%;
    }
  }

  &__nav-list,
  &__nav-list-secondary {
    line-height: 140%;

    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__nav-list {
    font-weight: 500;
    font-size: 16px;

    background-color: $accent-bg;
    border-radius: 8px;

    padding: 38px 28px;

    @include vp-tablet {
      padding: 38px 32px;
    }

    @include vp-tablet-landscape {
      padding: 38px 40px;
    }
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__nav-list-secondary {
    font-weight: 400;
    font-size: 15px;

    padding-left: 10px;
    margin-top: 10px;

    a {
      color: rgba($base, 0.5);
    }
  }

  &__nav-item-secondary {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__context-section {
    &:not(:last-child) {
      margin-bottom: 60px;

      @include vp-tablet {
        margin-bottom: 70px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;

    @include vp-tablet {
      margin-bottom: 30px;
    }
  }

  &__text {
    line-height: 170%;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include vp-tablet {
        margin-bottom: 50px;
      }
    }
  }

  &__title + &__text {
    margin-bottom: 40px;

    @include vp-tablet {
      margin-bottom: 50px;
    }
  }

  &__video,
  &__image {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 8px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__video {
    position: relative;
    margin-bottom: 40px;

    @include vp-tablet {
      margin-bottom: 50px;
    }

    &::before {
      content: "Здесь должно быть видео";
      position: absolute;
      display: block;
      width: fit-content;
      height: auto;

      font-weight: 600;
      font-size: 20px;
      left: 25%;
      top: 50%;

      transform: rotate(-45deg);
      color: red;

      @include vp-tablet {
        font-size: 30px;
      }
    }
  }
}
