mixin article()

  section.article&attributes(attributes)

    .article__container
      .article__banner
      .wrapper
        .article__content
          .title.title--medium.news-block__title
            h1 Идейные соображения высшего порядка, а&nbsp;также консультация с&nbsp;широким активом
