mixin article()

  section.article&attributes(attributes)
    .wrapper
      .article__container

        .title.title--medium-large.article__title
          h2 С&nbsp;другой стороны начало повседневной работы
