extends /layouts/main.pug

block pageContent

  - var breadcrumbsClassName = 'page__partnership-breadcrumbs'
  - var currentItem = 'Стать представителем'
  include /components/ui/breadcrumbs.pug

  - var partnershipClassName = 'page__partnership-main-block'
  include /components/blocks/partnership/partnership-main-block.pug

  - var partnershipFeaturesClassName = 'page__partnership-features'
  include /components/blocks/partnership/partnership-features.pug

  - var partnershipFeaturesClassName = 'page__partnership-callback'
  include /components/blocks/common/callback.pug
