mixin sale()
  -
    const options = [
      {
        text: 'Скидки при&nbsp;50% предоплате за&nbsp;подарки в&nbsp;летние месяцы',
        dateAttributeStsrt: '2023-04-21',
        dateAttributeFinish: '2024-05-22',
        dateStart: '21.04.23',
        dateFinish: '22.05.24',
        classBtn: 'sale__card-btn--modal-1'
      },
      {
        text: 'Скидки при&nbsp;50% предоплате',
        dateAttributeStsrt: '2023-04-21',
        dateAttributeFinish: '2024-05-22',
        dateStart: '21.04.23',
        dateFinish: '22.05.24',
        classBtn: 'sale__card-btn--modal-2'
      },
    ];

  section.sale&attributes(attributes)
      .wrapper
        .sale__inner
          .title.title--medium.sale__title
            h2 Наши акции

          .sale__cards
            each option in options
              .sale__card
                .text.text--medium-bold.sale__card-datetime
                  P
                    | #[time(datetime= option.dateAttributeStsrt)!= option.dateStart]
                    | -
                    | #[time(datetime= option.dateAttributeFinish)!= option.dateFinish]

                h3.text.text--super-big.sale__card-text!= option.text

                +btn().btn--border-dashed-base.sale__card-btn
                  span Подробнее

                .sale__modal-content
                  b Условия:
                  ol
                    li Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия
                    li Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия
                    li Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия
                    li Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия
                    li Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия

