mixin composition()

  section.composition&attributes(attributes)
    .wrapper
      .composition__container
        .composition__content

          .title.title--medium-litle.composition__title
              h2 Состав подарка
