.popular {
  max-width: 100vw;

  .swiper-slide {
    display: grid;
    width: 100%;
    min-height: 100%;
  }

  &__cards-list {
    display: flex;
    width: 100%;
    margin-bottom: 40px;

    @include vp-tablet-landscape {
      &.swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        column-gap: 20px;
        row-gap: 24px;
      }
    }
  }

  &__cards-item {
    width: 100%;
  }

  &__title {
    margin-bottom: 40px;

    @include vp-tablet {
      margin-bottom: 50px;
    }
  }

  &__btn-look {
    display: none;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    margin: 0 auto;

    @include vp-tablet-landscape {
      display: flex;
      width: 12.5%;
      min-width: 170px;
    }
  }

  &__request-desktop {
    display: none;
    @include vp-tablet-landscape {
      display: flex;
    }
  }

  &__request-mobile {
    display: flex;
    @include vp-tablet-landscape {
      display: none;
    }
  }
}
