mixin shipping()

  section.shipping&attributes(attributes)
      .wrapper
        .shipping__inner
          .title.title--medium.shipping__title
            h1 Доставка и оплата

          .shipping__tabs.tabs
            .shipping__tabs-nav.tabs__nav
              +btn().btn--tabs.tabs__button.tabs__button--active.shipping__tabs-button(disabled) Доставка
              +btn().btn--tabs.tabs__button.shipping__tabs-button(disabled) Самовызов

            .shipping__tabs-content.tabs__content

              .shipping__tabs-pane.tabs__pane.tabs__pane--show
                .shipping__tabs-context.tabs__context
                  p
                    | Ролики для линии укутывания отличаются разнообразием форм, так как работают с&nbsp;заготовками сложной конфигурации.
                    | Профиль такого ролика для мебельного станка может быть прямым, закругленным, скошенным.
                    | Все зависит от&nbsp;формы погонажа, который окутывается шпоном, пленкой или бумагой.
                    | Степень изношенности прижимных элементов влияет на&nbsp;качество приклеивания отделочного строя.
                    | Линия укутывания&nbsp;&mdash; сложное профессиональное оборудование.
                    | Его эффективность&nbsp;&mdash; залог качества изделий, которые пользуются большим спросом.
                    | Назначение оборудования узко профессионально.
                    | Назначение техники&nbsp;&mdash; облицовывание пленками ПВХ, ПП.

              .shipping__tabs-pane.tabs__pane
                .shipping__tabs-context.tabs____context
                  p
                    | Все зависит от&nbsp;формы погонажа, который окутывается шпоном, пленкой или бумагой.
                    | Степень изношенности прижимных элементов влияет на&nbsp;качество приклеивания отделочного строя.
                    | Линия укутывания&nbsp;&mdash; сложное профессиональное оборудование.
                    | Его эффективность&nbsp;&mdash; залог качества изделий, которые пользуются большим спросом.
                    | Назначение оборудования узко профессионально.
