.catalog {
  display: flex;
  flex-direction: column;

  &__breadcrumbs {
    margin-bottom: 40px;

    @include vp-tablet {
      margin-bottom: 50px;
    }
  }

  &__catalog-block {
    margin-bottom: 90px;

    @include vp-tablet {
      margin-bottom: 100px;
    }
  }
}
