.contacts-page {
  &__breadcrumbs {
    background-color: $accent-bg;
    padding-top: 40px;
    padding-bottom: 40px;

    @include vp-tablet {
      padding-top: 44px;
      padding-bottom: 50px;
    }
  }


  &__contacts-main-block {
    background-color: $accent-bg;
    padding-bottom: 70px;
    margin-bottom: 90px;

    @include vp-tablet {
      padding-top: 44px;
      padding-bottom: 100px;
      margin-bottom: 100px;
    }
  }

  &__requisites,
  &__contacts-map {
    margin-bottom: 90px;

    @include vp-tablet {
      margin-bottom: 100px;
    }
  }
}
