.news-article {
  display: flex;
  flex-direction: column;

  &__breadcrumbs {
    position: absolute;
    z-index: 1;
    padding-top: 40px;
    margin-bottom: -59px;

    .wrapper {
      padding: 0;
    }
    span {
      color: $white;
    }

    @include vp-tablet {
      padding-top: 45px;
      margin-bottom: -67.4px;
    }
  }

  &__article-banner {
    margin-bottom: 70px;

    @include vp-tablet {
      margin-bottom: 80px;
    }

    @include vp-tablet-landscape {
      margin-bottom: 100px;
    }
  }

  &__article {
    margin-bottom: 90px;

    @include vp-tablet {
      margin-bottom: 100px;
    }
  }
}
