.news-article {
  display: flex;
  flex-direction: column;

  &__breadcrumbs {
    z-index: 3;
    padding-top: 40px;
    margin-bottom: -59px;

    @include vp-tablet {
      padding-top: 45px;
      margin-bottom: -67.4px;
    }
  }

  &__article-banner {
    margin-bottom: 70px;

    @include vp-tablet {
      margin-bottom: 80px;
    }

    @include vp-tablet-landscape {
      margin-bottom: 100px;
    }
  }
}
