.page__partnership {
  padding: 0 0 110px;

  @media screen and (min-width: $tablet) {
    padding: 0 0 120px;
  }
}

.page__partnership-breadcrumbs {
  background-color: $grey-light;
}

.page__partnership-main-block {
  margin-bottom: 90px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 100px;
  }
}

.page__partnership-features {
  margin-bottom: 90px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 100px;
  }
}
