mixin cart
  .woocommerce
    ul.cart__list

      li.cart__item
        a.cart__item-image(href="#")
          img(src="/images/product.png" alt="&nbsp;Насос&nbsp;Wagner&nbsp;PUMA&nbsp;110 запчасть № 2314275")
        .cart__item-details
          a.cart__item-name(href="#") Насос&nbsp;Wagner&nbsp;PUMA&nbsp;110 запчасть № 2314275
          span.cart__item-sku Артикул:
            b 2314275h
          span.cart__item-price
            span 1300
            | Руб.
          form.woocommerce-cart-form(action="https://itnerds-dev.ru/cart/?remove_item=44ece762ae7e41e3a0b1301488907eaa&_wpnonce=c67bd7e31c" method="post")
            input(type="hidden" name="cart_item_key" value="44ece762ae7e41e3a0b1301488907eaa")
            .cart__quantity-wrapper
              button(type="button" class="cart__quantity-decrease" data-item-key="44ece762ae7e41e3a0b1301488907eaa") −
              input(type="number" class="cart__quantity-value" name="cart_quantity[44ece762ae7e41e3a0b1301488907eaa]" value="1" min="1" step="1" data-item-key="44ece762ae7e41e3a0b1301488907eaa")
              button(type="button" class="cart__quantity-increase" data-item-key="44ece762ae7e41e3a0b1301488907eaa") +
          button(type="button" class="cart__item-remove" data-item-key="44ece762ae7e41e3a0b1301488907eaa" data-nonce="c67bd7e31c")
            svg
              use(href="/images/sprite.svg#cross")

    .cart__buttons
      .cart__total
        | Итого
        span
          span 1300
          |  Руб.
      button.cart__callback.btn.button--alt.callback-button(href="/checkout") Получить консультацию
      a.cart__checkout.btn(href="/checkout") Оформить запрос

    //.cart__empty
    //  img(src="/images/cart-empty.svg", width="300", height="100", alt="Ваша корзина пуста").cart__empty-image
    //  .cart__empty-text Ваша корзина пуста
    //  .cart__empty-close.btn Продолжить выбор

    .cart__preloader
      img(src="/images/cart-preloader.svg", width="40" height="40")
