mixin company()

  section.company&attributes(attributes)
      .wrapper
        .company__container
          .company__content

            .confidence__context
              .title.title--medium.confidence__title
                h2 О компании

              .text.confidence__text
                p
                  | Компания &laquo;Ратио&raquo; более 10&nbsp;лет производит и&nbsp;поставляет сладкие новогодние подарки.
                  | В&nbsp;наших подарочных наборах вы&nbsp;найдете только самые лучшие и&nbsp;качественные сладости от&nbsp;ведущих российских производителей.
                  | Также, мы&nbsp;заботимся о&nbsp;том, чтобы наши подарки были не&nbsp;только вкусными, но&nbsp;и&nbsp;красивыми и&nbsp;интересными.
                  | Мы&nbsp;всегда рады предложить Вашему вниманию огромный выбор самой разнообразной упаковки, игрушек, развивающих и&nbsp;обучающих игр
