mixin company()

  section.company&attributes(attributes)
      .wrapper
        .company__container
          .company__content

            .company__context
              .title.title--medium.company__title
                h2 О компании

              .text.company__text
                p
                  | Компания &laquo;Ратио&raquo; более 10&nbsp;лет производит и&nbsp;поставляет сладкие новогодние подарки.
                  | В&nbsp;наших подарочных наборах вы&nbsp;найдете только самые лучшие и&nbsp;качественные сладости от&nbsp;ведущих российских производителей.
                  | Также, мы&nbsp;заботимся о&nbsp;том, чтобы наши подарки были не&nbsp;только вкусными, но&nbsp;и&nbsp;красивыми и&nbsp;интересными.
                  | Мы&nbsp;всегда рады предложить Вашему вниманию огромный выбор самой разнообразной упаковки, игрушек, развивающих и&nbsp;обучающих игр

                +link({text: "Узнать подробнее", href: "#", ariaLabel:"Переход на страницу «О компании»"}).link--accent-red.company__link

            +company-image().company__bg-wrapper
