mixin company-image()
  -
    const options = [
      {
        accentText: '1996',
        text: 'год основания компании',
      },
      {
        accentText: '2000+',
        text: 'Клиентов ежемесячно',
      },
      {
        accentText: '5000 м²',
        text: 'складские мощности',
      },
      {
        accentText: '15т+',
        text: 'отгружаем ежедневно',
      },
    ];

  .company-image&attributes(attributes)

    ul.company-image__bg-list

      each option in options
        li.company-image__bg-item
          i!= option.accentText
          span!= option.text

    +link({href: "#", ariaLabel:"Переход на карту к локации компании"}).company-image__link-address
      address.company-image__address
        span г. Москва, Кусковская&nbsp;ул., дом 20А, корпус&nbsp;В, оф. 505В

    .company-image__bg-image
      +img("company-bg", "png", 1360, 1025, "Вид административного здания компании.")

