mixin video-vlog()

  section.video-vlog&attributes(attributes)
    .wrapper
      .video-vlog__container

        +video().video-vlog__video

        .video-vlog__gallery
          .video-vlog__gallery-swiper
            | Здесь должна быть галерея видео
