.about-us {
  position: relative;
  background: url('/images/about-us.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#001f56, 0.6);
  }
}

.about-us__inner {
  z-index: 1;
  position: relative;
  padding: 90px 0;

  @media screen and (min-width: $tablet) {
    padding: 100px 0;
  }

  @media screen and (min-width: $tablet-landscape) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $indent;
  }
}

.about-us__title {
  color: $white;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.about-us__text-container {
  margin-bottom: 30px;
}

.about-us__text {
  font-size: 16px;
  line-height: 150%;
  color: #c8c8c8;
  margin-bottom: 12px;

  b {
    color: $white;
  }

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }
}

.about-us__link {
  display: inline-flex;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 12px 30px;
  border: 1px solid rgba($white, 0.2);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 52px;

  &:active {
    border: 1px solid rgba($white, 1);
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      border: 1px solid rgba($white, 1);
    }
  }
}

.about-us__numbers {
  display: grid;
  gap: 60px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 160px;
  }
}

.about-us__numbers-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 16px;
  color: $white;

  &:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: $white;
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-of-type)::after {
      content: none;
    }
  }
}

.about-us__number-item-title,
.about-us__number-item-units {
  font-size: 15px;
  line-height: 140%;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }
}

.about-us__number-item-title {
  width: 100%;
}

.about-us__number-item-value {
  font-size: 80px;
  font-weight: 500;
  line-height: 100%;

  @media screen and (min-width: $tablet) {
    font-size: 130px;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
  }
}
