.category-list {
  @include clearlist;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $indent;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $tablet-landscape) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(6, 1fr);
  }
}
