.header-bar {
  display: none;
  background-color: $grey-light;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.header-bar__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 14px 0;
}

.header-bar__navigation {
  position: absolute;
  max-width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header-bar__worktime {
  color: $grey;
  font-weight: 500;
  font-size: 14px;
}
