.mobile-menu {
  z-index: 0;
  position: absolute;
  top: -200vh;
  left: 0;
  right: 0;
  transition: all 0.9s ease-in-out;
  padding-top: 104px;
  padding-bottom: 50px;
  background-color: white;
  max-height: 100vh;
  overflow: scroll;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.mobile-menu__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 34px 0 40px;
  border-top: 1px solid $input-bg;
}

.mobile-menu__group-link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $dark;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;

  svg {
    color: $primary;
    width: 36px;
    height: 36px;
  }
}

.mobile-menu__socials {
  margin: 0;
}

.mobile-menu__navigation {
  flex-direction: column;
  align-items: flex-start;
}
