.partners {
  max-width: 100vw;
}

.partners__inner {
}

.partners__title {
  margin-bottom: $indent;
}

.partners__subtitle {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }
}

.partners .partners__swiper {
  margin: 0 -20px;
  padding: 0 20px;

  @media screen and (min-width: $tablet) {
    margin: 0 -30px;
    padding: 0 30px;
  }

  @media screen and (min-width: $tablet-landscape) {
    margin: 0 -50px;
    padding: 0 50px;
  }

  @media screen and (min-width: $tablet-landscape) {
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 65px;
  }
}
.partners__swiper .partners__swiper-slide {
  width: fit-content;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 128px;
  padding: 18px;
  box-sizing: border-box;
  border: 1px solid $input-bg;
  background-color: $white;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: rgba($light-blue, 0.2);
    }
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
    height: 145px;
  }
}

.partners__swiper-navigation {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
