mixin footer(footerMods)
  -
    const optionsNav = [
      {
        link: 'catalog.html',
        nameItem: 'Каталог',
        ariaLabel: 'Переход на страницу - Каталог.'
      },
      {
        link: '#',
        nameItem: 'Доставка и оплата',
        ariaLabel: 'Переход на страницу - Доставка и оплата.'
      },
      {
        classItem: 'navigation__item--accent',
        link: '#',
        nameItem: 'Акции',
        ariaLabel: 'Переход на страницу - Акции.'
      },
      {
        link: 'news.html',
        nameItem: 'Новости',
        ariaLabel: 'Переход на страницу - Новости.'
      },
      {
        link: 'about-company.html',
        nameItem: 'О компании',
        ariaLabel: 'Переход на страницу - О компании.'
      },
      {
        link: 'contacts-page.html',
        nameItem: 'Контакты',
        ariaLabel: 'Переход на страницу - Контакты.'
      },
      {
        link: '#',
        nameItem: 'Вакансии',
        ariaLabel: 'Переход на страницу - Вакансии.'
      },
      {
        link: 'manufacturers-page.html',
        nameItem: 'Производители',
        ariaLabel: 'Переход на страницу - Производители.'
      },
    ];

    const optionsMode = [
      {
        text: 'Пн-пт с&nbsp;9:00 до&nbsp;18:00'
      },
      {
        text: 'сб-вс выходной'
      },
      {
        text: 'Звонки и&nbsp;обращения \nпринимает в&nbsp;рабочее время'
      },
    ];

    const optionsAddress = [
      {
        text: 'г. Москва, Кусковская&nbsp;ул., \nдом 20А, корпус&nbsp;В, оф. 505В'
      },
    ];

    const optionsContacts = [
      {
        link: 'tel:+79999999999',
        nameItem: '+7 (999) 999-99-99',
        ariaLabel: 'Переход к звонку по телефону'
      },
      {
        link: 'tel:+79999999999',
        nameItem: '+7 (999) 999-99-99',
        ariaLabel: 'Переход к звонку по телефону'
      },
      {
        link: 'mailto:info@mail.ru',
        nameItem: 'info@mail.ru',
        ariaLabel: 'Написать на электронную почту'
      },
    ];

    const optionsBottomBar = [
      {
        link: '#',
        nameItem: 'Согласие на обработку персональных данных',
        ariaLabel: 'Переход к разделу - Согласие на обработку персональных данных'
      },
      {
        link: '#',
        nameItem: 'Политика конфиденциальности',
        ariaLabel: 'Переход к разделу - Политика конфиденциальности'
      },
    ];

  footer.footer(class=footerMods)
    .wrapper
      .footer__inner

        .footer__item.footer__item-brand

          .footer__logo
            +link({href: "index.html", ariaLabel: "Переход к началу главной страницы"}).footer__logo-link
              +img("logo", "png", 66, 93, "Лолготип.")

          span.footer__item-brand-descriptor Поставщик сладких подарочных наборов и игрушек

        .footer__container.text.text--small

          .footer__item.footer__item-navigation
            h3.title.title--special-footer.footer__item-title Меню

            +navigation(optionsNav).footer__nav

          .footer__item.footer__item-mode
            h3.title.title--special-footer.footer__item-title График работы
            ul.footer__item-list
              each option in optionsMode
                li
                  span!= option.text


          .footer__item.footer__item-address
            h3.title.title--special-footer.footer__item-title Адрес
            ul.footer__item-list
              each option in optionsAddress
                li
                  span!= option.text


          .footer__item.footer__item-contacts
            h3.title.title--special-footer.footer__item-title Контакты
            ul.footer__contacts
              each option in optionsContacts
                li
                  +link({href: option.link, text: option.nameItem, ariaLabel: option.ariaLabel}).footer__item-contacts-link


        .footer__bottom-bar.text.text--small-extra
          ul.footer__bottom-bar-nav
            each option in optionsBottomBar
              li
                +link({href: option.link, text: option.nameItem, ariaLabel: option.ariaLabel}).footer__bottom-bar-link
