mixin header(headerMods, currentUrl)
  -
    const optionsPhones = [
      {
        link: 'tel:+79999999999',
        nameItem: '+7 999 999 99 99',
        ariaLabel: 'Переход к звонку по телефону'
      },
      {
        link: 'tel:+79999999999',
        nameItem: '+7 999 999 99 99',
        ariaLabel: 'Переход к звонку по телефону'
      },
      {
        link: 'tel:+79999999999',
        nameItem: '+7 999 999 99 99',
        ariaLabel: 'Переход к звонку по телефону'
      },
    ];

    const optionsNav = [
      {
        link: '#',
        nameItem: 'Доставка и оплата',
        ariaLabel: 'Переход на страницу - Доставка и оплата.'
      },
      {
        classItem: 'navigation__item--accent',
        link: '#',
        nameItem: 'Акции',
        ariaLabel: 'Переход на страницу - Акции.'
      },
      {
        link: 'news.html',
        nameItem: 'Новости',
        ariaLabel: 'Переход на страницу - Новости.'
      },
      {
        link: 'about-company.html',
        nameItem: 'О компании',
        ariaLabel: 'Переход на страницу - О компании.'
      },
      {
        link: 'contacts-page.html',
        nameItem: 'Контакты',
        ariaLabel: 'Переход на страницу - Контакты.'
      },
      {
        link: '#',
        nameItem: 'Вакансии',
        ariaLabel: 'Переход на страницу - Вакансии.'
      },
      {
        link: 'manufacturers-page.html',
        nameItem: 'Производители',
        ariaLabel: 'Переход на страницу - Производители.'
      },
    ];

  header.header(class=headerMods)
    +search-modal('header__search-modal')

    +header-bar(optionsNav).header__header-bar

    +mobile-menu(optionsNav).header__menu

    .wrapper
      .header__inner

        .header__brand

          if(currentUrl === "index.html")
            span.header__logo
              +img("logo", "png", 64, 90, "Лолготип.")
          else
            +link({href: "index.html", ariaLabel: "Переход на главную страницу"}).header__logo-link
              +img("logo", "png", 64, 90, "Лолготип.")

          span.header__brand-descriptor Поставщик сладких подарочных наборов и игрушек

        .header__middle
          +btn({href: "catalog.html"}).btn--catalog-wide.header__catalog(aria-label="Переход к странице каталога")
            +icon("catalog-wide", 14, 14)
            span Каталог

          +search-form().header__search-form

        .header__buttons
          .header__contacts
            span.header__contacts-trigger +7 (492) 999-99-99
              +icon("triangle", 8, 6)
            .header__contacts-tooltip

              .header__contacts-tooltip-item
                .header__contacts-tooltip-title Контактный телефон
                each option in optionsPhones
                  +link({href: option.link, text: option.nameItem, ariaLabel: option.ariaLabel}).header__callback-phones

              .header__contacts-tooltip-item
                .header__contacts-tooltip-title Почта
                +link({href: "mailto:info@mail.ru", text: "info@mail.ru", ariaLabel: "Написать на e-mail"}).header__callback-mail

            button.header__callback-button.callback-button(type="button") Заказать звонок

          button.header__search-button(type="button")
            +icon("search", 18, 18)

          +btn().btn--cart-main.header__cart-button
            span Корзина
            span.header__cart-icon
              +icon("icon-cart", 18, 21)
            span.header__cart-value 0

          button.header__burger-button(type="button")
            span
            span
            span
