.vacancies {
  max-width: 100vw;
  color: $base;

  &__content-title {
    width: 77%;
    margin-bottom: 40px;

    @include vp-tablet {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__content-container {
    @include vp-tablet-landscape {
      display: grid;
      grid-template-columns: 1fr 32.28%;
      gap: 20px;
    }
  }

  &__tabs {
    margin-bottom: 30px;
    border-radius: $br-default;
    background-color: $accent-bg;
    height: fit-content;
    padding: 40px 25px;

    @include vp-tablet {
      margin-bottom: 40px;
    }

    @include vp-tablet-landscape {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      margin-bottom: 0;
    }
  }

  &__tabs-buttons-title {
    color: $base;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 18px;
    padding-left: 15px;
  }

  &__tabs-list {
    @include clearlist;
  }

  &__tabs-button {
    cursor: pointer;
    color: $base;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    border-radius: $br-default;
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: none;
    transition: $trans-default;

    &:active {
      opacity: 0.6;
    }

    @include hover-focus {
      background-color: $accent-bg-items;
      opacity: 0.8;
    }

    &.vacancies__tabs-button--active {
      background-color: $accent-bg-items;

      @include hover-focus {
        opacity: 1;
      }
    }
  }

  &__accordion {
    @include clearlist;

    display: none;
  }

  &__accordion--show {
    display: block;
  }

  &__no-vacancies {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;

    @include vp-tablet {
      font-size: 16px;

      padding-top: 70px;
      padding-bottom: 88px;
    }

    @include vp-tablet-landscape {
      padding-top: 46px;
      padding-bottom: 46px;
    }

    svg {
      color: $primary;
      width: 84px;
      height: 84px;
      margin-bottom: 22px;
      margin-left: 10px;

      @include vp-tablet {
        width: 104px;
        height: 104px;
        margin-left: 20px;
      }
    }

    p {
      width: 82%;
      margin-top: 0;
      margin-bottom: 5px;

      @include vp-tablet {
        width: 55%;
      }

      @include vp-tablet-landscape {
        width: 27%;
      }
    }
  }
}
