section.about-us(class=aboutUsClassName)
  .wrapper
    .about-us__inner
      h2.about-us__title.title.title--medium О компании
      div
        .about-us__text-container
          .about-us__text
            b Основным направлением нашей организации является поиск и поставка запчастей и комплектующих
            |  на мебельное и другое промышленное оборудование.
          .about-us__text
            b Мы снабжаем запчастями станки марок:
            br
            | Homag, Nanxing, Filato, KDT, SCM, Weinig, Wagner и других! Так же подбираем импортные запчасти и комплектующие таких брендов, как: Siemens, Schmalz, Bosch, Aventics, Rexroth, Festo, Pneumax, PerSke, ABB, ABLE, Siko, Delta, Schneider, Union и многих других. Предлагаем, как оригинальные запасные части, так и аналоги к ним.
        a.about-us__link(href="/about-us/") Подробнее о нас
        .about-us__numbers
          .about-us__numbers-item
            .about-us__number-item-title Работаем с
            .about-us__number-item-value 2015
            .about-us__number-item-units года
          .about-us__numbers-item
            .about-us__number-item-title Расположены в
            .about-us__number-item-value 9
            .about-us__number-item-units городах России
