section.discount-cards(class=discountCardsClassName)
  .wrapper
    .discount-cards__list

      .discount-cards__preview(style="background-image: url('/images/discount-1.png');")
        .dicount-cards__prewview-inner
          .h3.discount-cards__title.title.title--small Не нашли товар?
          .p.discount-cards__subtitle.subtitle Свяжитесь с менеджером для уточнения поставки в кратчайшие сроки
          button.discount-cards__link.button.button-small(type='button') Связаться

      .discount-cards__preview(style="background-image: url('/images/discount-2.png');")
        .dicount-cards__prewview-inner
          .h3.discount-cards__title.title.title--small Скидка 10% при нахождении более выгодной цены
          .p.discount-cards__subtitle.subtitle Необходимо связаться с менеджером по телефону или через мессенджеры
          button.discount-cards__link.button.button-small(type='button') Подробнее
