-
  const feturesList = [
    {
      title: 'Гарантия \nкачества',
      text: 'Гарантия на комплектующие до 1 года',
      icon: '/images/sprite.svg#guarantee',
    },
    {
      link: '#',
      title: 'Лучшая цена \nна рынке',
      text: 'Даем скидку 10% при нахождении более выгодной цены',
      icon: '/images/sprite.svg#best',
    },
    {
      link: '#',
      title: 'Доставка за 1-2 рабочих дней со склада',
      text: 'Поставка под запрос осуществляется от 2 до 6 недель',
      icon: '/images/sprite.svg#airplane',
    },
    {
      link: '#',
      title: 'Гибкие \nусловия оплаты',
      text: 'Отсрочка по платежу, оплата по счету с НДС и без НДС',
      icon: '/images/sprite.svg#card',
    },
    {
      link: '#',
      title: 'Подбор \nаналогов',
      text: 'Консультация по подбору аналогов, соответствующие вашим требованиям и бюджету',
      icon: '/images/sprite.svg#star',
    },
  ]

section.features(class=featuresClassName)
  .wrapper
    .features__inner
      h2.features__title.title.title--medium Сотрудничая с нами <br/>вы получаете
      .features__swiper.swiper
        .swiper-wrapper
          each featureItem in feturesList
            .swiper-slide
              a.features__item(href="#")
                .features__item-header
                  .features__item-icon
                    svg
                      use(href=featureItem.icon)
                  .features__item-icon.features__item-link-icon
                    svg
                      use(href='/images/sprite.svg#tick')
                .feature__item-text-container
                  h3.features__item-title.title.title--small=featureItem.title
                  .features__item-subtitle.subtitle=featureItem.text
      .fetures__swiper-nav
        button.features__swiper-prev(type="button")
          svg
            use(href='/images/sprite.svg#tick')
        button.features__swiper-next(type="button")
          svg
            use(href='/images/sprite.svg#tick')
