section.header-bar
  .wrapper
    .header-bar__inner
      include /components/ui/city-picker.pug

      - var navigationClassNAme = '.header-bar__navigation'
      include /components/ui/navigation.pug

      span.header-bar__worktime На связи: пн-пт с 9:00 до 20:00
