mixin intro()

  section.intro&attributes(attributes)
    .wrapper
      .intro__container

        .intro__swiper.swiper

          .intro__cards.swiper-wrapper

            .swiper-slide
              .intro__card
                .intro__card-context
                  .title.title--big.title--accent.intro__card-title
                    h1
                      | Безопасность#[br]и&nbsp;качество&nbsp;– наш приоритет#[br]
                      | #[em с&nbsp;1996&nbsp;года!]

                  +btn({href: "#"}).btn--border-dashed.intro__card-btn(aria-label="Перейти к сертификатам.")
                    span Сертификаты продукции

                .intro__image
                  img(src='/images/intro.png', width='456', height='470', alt='Сертефицированный товар магазина')

            .swiper-slide
              .intro__card
                .intro__card-context
                  .title.title--big.title--accent.intro__card-title
                    h2
                      | Безопасность#[br]и&nbsp;качество&nbsp;– наш приоритет#[br]
                      | #[em с&nbsp;1996&nbsp;года!]

                  +btn({href: "#"}).btn--border-dashed.intro__card-btn(aria-label="Перейти к сертификатам.")
                    span Сертификаты продукции

                .intro__image
                  img(src='/images/intro.png', width='456', height='470', alt='Сертефицированный товар магазина')

            .swiper-slide
              .intro__card
                .intro__card-context
                  .title.title--big.title--accent.intro__card-title
                    h2
                      | Безопасность#[br]и&nbsp;качество&nbsp;– наш приоритет#[br]
                      | #[em с&nbsp;1996&nbsp;года!]

                  +btn({href: "#"}).btn--border-dashed.intro__card-btn(aria-label="Перейти к сертификатам.")
                    span Сертификаты продукции

                .intro__image
                  img(src='/images/intro.png', width='456', height='470', alt='Сертефицированный товар магазина')

          +navigation-swiper()

          .intro__pagination
            .swiper-pagination
