.partnership-features__inner {
  @media screen and (min-width: $tablet-landscape) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.partnership-features__title {
  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet-landscape) {
    position: sticky;
    top: 200px;
    left: 0;
    height: fit-content;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.ppartnership-features__list {
  @include clearlist;
}

.partnership-features__item {
  padding: 40px 0;

  &:not(:first-of-type) {
    border-top: 1px solid $input-bg;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.partnership-features__item-number {
  color: $primary;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    font-size: 58px;
  }
}

.partnership-features__item-text {
  strong {
    color: $primary;
    font-weight: inherit;
  }
}
