extends /layouts/main.pug

block pageContent
  -
    const nameIitemsBreadcrumbs = [
      "Каталог",
    ];

  +breadcrumbs(nameIitemsBreadcrumbs).catalog__breadcrumbs
  +catalog-block().catalog__catalog-block
  +viewed().catalog__viewed
