extends /layouts/main.pug

block pageContent

  +intro().page-home__intro
  +advantages().page-home__advantages
  +manufacturers().page-home__manufacturers

  +certificates().page-home__certificates
  +cooperation().page-home__cooperation
  +company().page-home__company
  +confidence().page-home__confidence
