extends /layouts/main.pug

block pageContent

  +intro().page-home__intro
  +advantages().page-home__advantages
  +manufacturers().page-home__manufacturers

  +company().page-home__company
  +confidence().page-home__confidence
