extends /layouts/main.pug

block pageContent
  -
    const nameIitemsBreadcrumbs = [
      "Производители",
    ];

  +breadcrumbs(nameIitemsBreadcrumbs).manufacturers-page__breadcrumbs
  +manufacturers().manufacturers-page__manufacturers
  +video-vlog().manufacturers-page__video-vlog
  +certificates().manufacturers-page__certificates
  +viewed().manufacturers-page__viewed
