extends /layouts/main.pug

block pageContent
  -
    const nameIitemsBreadcrumbs = [
      "Новости",
      "Название статьи",
    ];

  +breadcrumbs(nameIitemsBreadcrumbs).breadcrumbs--item-white.news-article__breadcrumbs
  +article-banner().news-article__article-banner
  +article().news-article__article
