extends /layouts/main.pug

block pageContent
  -
    const nameIitemsBreadcrumbs = [
      "Новости",
      "Название статьи",
    ];

  +breadcrumbs(nameIitemsBreadcrumbs).news-article__breadcrumbs
  +article().news-article__article
