extends /layouts/main.pug

block pageContent
  -
    const nameIitemsBreadcrumbs = [
      "Новости",
    ];

  +breadcrumbs(nameIitemsBreadcrumbs).news__breadcrumbs
  +news-block().news__news-block
  +viewed().news__viewed
