extends /layouts/main.pug

block pageContent

  +card-product().product__card-product
  +advantages().product__advantages
  +composition().product__composition
  +similar-product().product__similar-product
  +viewed().product__viewed
