extends /layouts/main.pug

block variables
  - const title = "Sales & Discounts" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sale-page.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


//-block pageContent

block main
  main.manufacturers-page
    -
      const nameIitemsBreadcrumbs = [
        "Акции",
      ];

    +breadcrumbs(nameIitemsBreadcrumbs).sale-page__breadcrumbs
    +sale().sale-page__sale
