extends /layouts/main.pug

block variables
  - const title = "Sales & Discounts" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sale-page.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


//-block pageContent

block main
  main.manufacturers-page
    -
      const nameIitemsBreadcrumbs = [
        "Акции",
      ];

    +breadcrumbs(nameIitemsBreadcrumbs).sale-page__breadcrumbs
    +sale().sale-page__sale
    +viewed()

block modals
  -
    const optionsItems1 = [
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
    ];

    const optionsItems2 = [
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
      {
        textItem: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия',
      },
    ];

  +modal("modal--sale-1")
    +modal-sale(optionsItems1)

  +modal("modal--sale-2")
    +modal-sale(optionsItems2)
