extends /layouts/main.pug

block variables
  - const title = "Shipping & Payment" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "shipping-payment-page.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


//-block pageContent

block main
  main.manufacturers-page
    -
      const nameIitemsBreadcrumbs = [
        "Доставка и оплата",
      ];

    +breadcrumbs(nameIitemsBreadcrumbs).shipping-payment-page__breadcrumbs
    +shipping().shipping-payment-page__shipping
    +payment().shipping-payment-page__payment
    +viewed().shipping-payment-page__viewed
