mixin article-company()
  -
    const optionsText = [
      {
        text: '<b>Компания &laquo;Ратио&raquo; более 10&nbsp;лет производит и&nbsp;поставляет сладкие новогодние подарки.</b> В&nbsp;наших подарочных наборах вы&nbsp;найдете только самые лучшие и&nbsp;качественные сладости от&nbsp;ведущих российских производителей. Также, мы&nbsp;заботимся о&nbsp;том, чтобы наши подарки были не&nbsp;только вкусными, но&nbsp;и&nbsp;красивыми и&nbsp;интересными. Мы&nbsp;всегда рады предложить Вашему вниманию огромный выбор самой разнообразной упаковки, игрушек, развивающих и&nbsp;обучающих игр',
      },
      {
        text: '<i>Если вы&nbsp;ищете идеальный подарок для своих близких, то&nbsp;обратитесь к&nbsp;нам. Мы&nbsp;поможем вам выбрать самый лучший подарок, который обязательно порадует вашего ребенка или коллегу</i>',
      },
      {
        text: '<em>Кроме производства и&nbsp;реализации сладких новогодних подарков</em> \n<b>компания &laquo;Ратио&raquo; осуществляет следующие виды деятельности:</b>'
      },
    ];

    const textActivities = [
      {
        activities: 'С&nbsp;1996&nbsp;г. ООО &laquo;Ратио&raquo; занимается дистрибьюцией кондитерских изделий, напитков, бакалейной продукции и&nbsp;товаров повседневного спроса на&nbsp;территории Саратовской области. Ежемесячно мы&nbsp;обслуживаем более 2000 торговых точек, куда поставляем ежедневно от&nbsp;15&nbsp;тн. продуктов питания.',
      },
      {
        activities: 'Также, в&nbsp;Группу компаний входит основанное в&nbsp;2005&nbsp;г. производство кондитерских изделий. Объем выпускаемой продукции в&nbsp;месяц&nbsp;&mdash; 50-60&nbsp;тн. Пирожные и&nbsp;печенья из&nbsp;слоёного, песочного, бисквитного теста под торговой маркой &laquo;Сладкий Город&raquo; известны и&nbsp;любимы в&nbsp;Саратовской, Пензенской, Самарской, Волгоградской областях, Подмосковье, а&nbsp;также Республиках Татарстан и&nbsp;Мордовия.'
      },
    ];

  section.article-company&attributes(attributes)
    .wrapper
      .article-company__container
        .title.title--medium.article-company__title
          h1 О компании

        .article-company__content

          .text.article-company__text
            each option in optionsText
              p!= option.text

            ul.article-company__list-activities
              each option in textActivities
                li.article-company__item-activities
                  p!= option.activities
