.header {
  color: $base;
  z-index: 3;
  position: sticky;

  top: 0;
  left: 0;
  right: 0;
  background-color: $white;

  border-bottom: 1px solid $border-fill;

  @include vp-desktop {
    top: -46px
  }

  &__inner {
    z-index: 1;
    position: relative;
    //padding: 20px 0;
    padding: 9px 0 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: -48px;
      right: 0;
      bottom: 1px;
      left: 0;
      background-color: #fff;
    }

    @include vp-tablet {
      //padding: 25px 0;
    }
  }

  &__brand {
    position: relative;
    display: flex;
    gap: 9px;

    @include vp-tablet {
      gap: 16px;
    }
  }

  &__logo {
    width: 53px;

    @include vp-tablet {
      width: 60px;
    }

    @include vp-tablet-landscape {
      width: 64px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__brand-descriptor {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    color: $logo-text-header;
    padding-top: 8px;
    max-width: 120px;
    align-self: center;

    @include vp-tablet {
      padding-top: 5px;
      font-size: 14px;
      max-width: 140px;
    }

    @include vp-tablet-landscape {
      padding-top: 15px;
    }
  }

  &__middle {
    display: flex;
    flex-grow: 1;
    max-width: 581px;
  }

  &__catalog {
    position: relative;
    display: none;
    align-items: center;
    gap: 12px;
    border-radius: $br-default 0 0 $br-default;

    @include vp-desktop {
      display: flex;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &--menu-opened &__burger-button {
    background-color: $primary;

    span:first-child {
      transform: rotate(45deg) translateY(6px) translate(6px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:last-child {
      transform: rotate(-45deg) translateY(-6px) translate(5px);
    }
  }

  &__search-button,
  &__cart-button,
  &__burger-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    padding: 0;
  }

  &__burger-button {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background-color: $primary;
    padding: 11px;

    @include vp-desktop {
      display: none;
    }

    span {
      background-color: $white;
      width: 26px;
      height: 2px;
      border-radius: 20px;
      transition: all .3s ease-in-out;
    }
  }

  &--menu-opened &__search-form {
    z-index: 1;
    position: absolute;
    padding-top: 21px;
    padding-right: 85px;

    @include vp-tablet {
      padding-top: 26px;
      padding-right: 95px;
    }

    @include vp-tablet-landscape {
      padding-top: 29px;
      padding-right: 95px;
    }

    @include vp-desktop {
      position: static;
    }
    //padding-top: 31px;
    //padding-right: 85px;
    //
    //@include vp-tablet {
    //  padding-top: 41px;
    //  padding-right: 95px;
    //}
    //
    //@include vp-tablet-landscape {
    //  padding-top: 44px;
    //  padding-right: 95px;
    //}
    //
    //@include vp-desktop {
    //  position: static;
    //}
  }

  &__search-form {
    z-index: -1;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    background-color: $white;
    padding: 22px 0;
    transition: all .3s ease-in-out;

    @include vp-tablet {
      padding: 22px 0;
    }

    @include vp-tablet-landscape {
      padding: 22px 0;
    }

    @include vp-desktop {
      z-index: 1;
      flex-shrink: 0;
      position: relative;
      padding: 0;
      display: block;
      max-width: 460px;
      width: 100%;
    }
  }

  &__search-form.header__search-form--opened {
    top: 100%;
  }

  &__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    @include vp-tablet {
      gap: 10px;
    }

    @include vp-desktop {
      gap: 23px;
    }
  }

  &__callback-button {
    display: none;

    @include vp-tablet-landscape {
      display: flex;
    }
  }

  &__search-button {
    background-color: $accent-bg;
    color: $base;

    @include vp-desktop {
      display: none;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__cart-button {
    position: relative;
    background-color: $accent-bg-items;
    color: $base;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 24px;

    span:first-child {
      display: none;
    }

    svg {
      width: 19px;
      height: 19px;
    }

    @include hover-focus {

    }

    @include vp-desktop {
      span:first-child {
        display: inline-block;
      }
    }

    @include vp-desktop {
      min-width: 155px;
      padding: 14px 24px;
    }
  }

  &__cart-icon {
    padding: 2px 7px 0 5px;

    @include vp-desktop {
      margin-left: 6px;
    }
  }

  &__cart-value {
    position: absolute;
    top: 10px;
    right: 4px;

    @include vp-desktop {
      top: 9px;
      right: 24px;
    }
  }

  &__cart-button &__cart-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $white;
    width: 17px;
    height: 16px;
    border-radius: 50%;
    background-color: $accent-link;
  }

  &--menu-opened .header__menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__contacts {
    position: relative;
    display: none;

    &:hover .header__contacts-trigger {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover .header__contacts-tooltip {
      display: block;
    }

    @include vp-desktop {
      display: block;
    }
  }

  .header__contacts-trigger {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    gap: 7px;
    color: $base;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;

    svg {
      color: $base;
      width: 10px;
      height: 7px;
      transition: all .3s ease-in-out;
    }
  }

  &__contacts-tooltip {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    padding: 26px;
    background-color: $white;
    margin: 13px auto 0;
    width: max-content;
    border-radius: 8px;
    box-shadow: 0 1px 16px #00000026;

    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 30px;
      width: 43px;
      height: 13px;
      background-image: url(../images/tooltip.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      width: 100%;
      height: 13px;
    }
  }

  &__contacts-tooltip-item {
    &:not(:last-of-type) {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 20px;
    }

    &:not(:last-of-type) a {
      color: $base;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
    }
  }

  &__contacts-tooltip-title {
    color: rgba($base, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  &__callback-button {
    cursor: pointer;
    color: $base;
    font-size: 13px;
    padding: 0;
    opacity: 0.5;
    background: transparent;
    border: none;
    transition: $trans-default;

    @include hover-focus {
      opacity: 1;
      color: $primary-hover;
    }
  }

  &__logo-link {
    width: 53px;
    transition: $trans-default;

    @include vp-tablet {
      width: 60px;
    }

    @include vp-tablet-landscape {
      width: 64px;
    }
  }

  &__header-category {
    z-index: -1;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    opacity: 1;
    transition: top 0.3s ease-in-out;
  }
}

.header--scrolled {
  .header__inner {
    //padding: 9px 0 13px;
  }

  .header__header-category {
    top: 0;
    border: none;
  }
}

.header--menu-opened.header--scrolled {
  //.header__search-form {
  //  padding-top: 21px;
  //  padding-right: 85px;
  //
  //  @include vp-tablet {
  //    padding-top: 26px;
  //    padding-right: 95px;
  //  }
  //
  //  @include vp-tablet-landscape {
  //    padding-top: 29px;
  //    padding-right: 95px;
  //  }
  //
  //  @include vp-desktop {
  //    position: static;
  //  }
  //}
}

.header__search-modal--opened .search-form__close-modal-button {
  display: flex;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header__search-modal--opened {
  @include vp-desktop {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: $border-fill;
      z-index: 2;
    }
  }
}
