.btn {
  cursor: pointer;
  display: inline-flex;
  padding: 10px 20px;

  color: $white;
  background-color: $primary;
  border-radius: 8px;

  user-select: none;

  transition: opacity $trans-default,  background-color $trans-default, color $trans-default;

  &:active {
    opacity: 0.8;
  }

  &--border-dashed,
  &--border-dashed-base {
    box-sizing: border-box;
    background-color: $transparent;
    border: 2px dashed rgba($white, 0.5);
    padding: 15px 32px 16px;

    @include hover-focus {
      color: $base;
      background-color: $white;
    }

  }

  &--border-dashed-base {
    border: 2px dashed rgba($base, 0.5);
    border-radius: 12px;
    color: $base;

    @include hover-focus {
      color: $white;
      background-color: $primary-hover;
      border-color: $primary-hover;
    }
  }
}

.button--small {
}

.button--alt {
}
