.btn {
  cursor: pointer;
  display: inline-flex;
  padding: 10px 20px;

  color: $white;
  background-color: $primary;
  border-radius: 8px;

  user-select: none;

  transition: opacity $trans-default,  background-color $trans-default, color $trans-default;

  &--border-dashed {
    box-sizing: border-box;
    background-color: $transparent;
    border: 2px dashed rgba($white, 0.5);
    padding: 15px 32px 16px;

    @include hover-focus {
      color: $accent-active;
      background-color: $white;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.button--small {
}

.button--alt {
}
