.catalog-card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  padding: 7.813% 7.032%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid $border-fill;

  &__link {
    img {
      margin-bottom: 25px;
    }
  }

  &__title{
    margin-bottom: 10px;
  }

  &__product-code {
    font-weight: 400;
    font-size: 12px;
    line-height: 118%;
    color: $secondary;
    margin-bottom: 24px;

    strong {
      font-weight: 500;
      color: $base;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  &__data-add {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-fill;
    padding-top: 24px;
    margin-bottom: 24px;

    b, i {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: $base;
    }

    i {
      font-weight: 400;
      color: $secondary;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__order-btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  &__cart-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 118%;
    color: $white;
    align-items: center;

    &--popular{
      span {
        display: none;
        color: $white;
      }
    }
  }
}
