.input,
textarea,
.form-row input,
.form-row textarea {
  font-family: inherit;
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid $border-fill;
  border-radius: 6px;
  box-sizing: border-box;
  background: #FCFCFC;
  width: 100%;
}

textarea.input,
.form-row textarea {
  resize: none;
}
