.news-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @media (hover: hover) {
    &:hover .news-preview__title,
    &:focus .news-preview__title {
      color: $primary;
    }

    &:hover .news-preview__img,
    &:focus .news-preview__img {
      opacity: 0.9;
    }
  }
}

.news-preview__img {
  display: block;
  aspect-ratio: 1.71/1;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.news-preview__text-container {
  padding: 18px 0 10px;
}

.news-preview__title {
  color: $dark;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.news-preview__subtitle {
  font-weight: 500;
  margin-bottom: 14px;
}

.news-preview__date {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  color: $grey;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
}
