.ordering,
.woocommerce-ordering {
  display: flex;

  @include vp-tablet-landscape {
    width: fit-content;
    margin-left: auto;
  }
}

.ordering form,
.woocommerce-ordering form {
  display: flex;
  width: 100%;
}

.ordering select,
.woocommerce-ordering select {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: $accent-bg;
}
