.pagination {
  user-select: none;

  &__items {
    display: flex;
  }

  .page-numbers {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    cursor: pointer;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $base;

    &.current {
      cursor: revert;
      color: $primary;
      background-color: $accent-bg;
      border-radius: 6px;

      min-width: 34px;
      min-height: 34px;
      padding: 5px;
      margin-right: 10px;
    }
  }

  a.page-numbers {
    &:not(:first-child, :last-child) {
      margin-right: 20px;
    }

    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }

  .prev,
  .next {
    position: relative;
    width: 16px;
    height: 16px;
    align-self: center;
    background-color: $white;

    &::after {
      content: "";
      position: absolute;
      width: 7.16px;
      height: 12.51px;

      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/images/icon-arrow.svg");
      background-size: contain;
      background-color: $white;
    }
  }

  .next {
    &::after {
      transform: rotate(180deg);
    }
  }
}
