.search-form {
  &__submit {
    background-color: $primary;
    color: $white;

    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 15px 13px;
    width: 49px;
    min-height: 48px;
    border: none;
    //border: 1px solid $primary;
    border-radius: 0 6px 6px 0;
    transition: all .3s ease-in-out;
    box-sizing: border-box;

    @include vp-tablet-landscape {
      display: flex;
    }

    @include hover-focus {
      background-color: $primary-hover;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__input-container {
    position: relative;
  }

  &__input {
    @include vp-tablet {
      padding-right:66px;
    }
  }
}


/*.search-form__input-container {
  position: relative
}

@media screen and (min-width: 720px) {
  .search-form__input {
      padding-right:66px
  }
}

.search-form__submit {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 15px 13px;
  width: 44px;
  min-height: 48px;
  background-color: #0a327a;
  border: none;
  border: 1px solid #fff;
  border-radius: 0 8px 8px 0;
  transition: all .3s ease-in-out;
  box-sizing: border-box
}

.search-form__submit:active {
  background-color: #fff;
  color: #0a327a;
  border: 1px solid #0a327a
}

@media (hover: hover) {
  .search-form__submit:hover,.search-form__submit:focus {
      background-color:#fff;
      color: #0a327a;
      border: 1px solid #0a327a
  }
}

@media screen and (min-width: 720px) {
  .search-form__submit {
      display:flex
  }
}*/
