.search-form {
  &__submit {
    background-color: $primary;
    color: $white;

    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 15px 13px;
    width: 49px;
    min-height: 48px;
    border: none;
    border-radius: 0 6px 6px 0;
    transition: all .3s ease-in-out;
    box-sizing: border-box;

    @include vp-desktop {
      display: flex;
    }

    @include hover-focus {
      background-color: $primary-hover;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__input {
    @include vp-tablet {
      padding-right:66px;
    }
  }

  &__close-modal-button {
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 30px;
    border: none;
    background: transparent;
    padding: 3px;
    transition: all 0.3s ease-in-out;

    &:active {
      color: $primary;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: $primary;
      }
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}
