.slider-image {

  .swiper-slide {
    display: grid;
    width: 100%;
    min-height: 100%;
  }

  &__cards {
    display: flex;
    width: 100%;
  }

  &__card {
    box-sizing: border-box;
    border: 1px solid $border-fill;
    border-radius: 8px;

    background-color: $white;
    min-width: 100%;
    width: 85.983%;

    @include vp-tablet {
      width: 60.61%;
    }

    @include vp-tablet-landscape {
      width: 29.412%;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    padding: 9.232% 6.155% 8.924%;


    @include vp-tablet {
      padding: 7.5% 7% 9.5%;
    }

    img {
      max-width: 100%;
    }
  }
}
