.text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  @include vp-tablet {
    font-size: 16px;
  }

  p {
    margin: 0;
  }

  b {
    font-weight: 600;
    color: $primary;
  }

  em {
    font-style: normal;
    font-weight: 500;
  }

  time {
    font-weight: 500;
    font-size: 12px;

    @include vp-tablet {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &--big {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;

    @include vp-tablet {
      font-size: 16px;
    }
  }

  &--medium-mix {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    @include vp-tablet {
      font-size: 16px;
    }
  }

  &--medium {
    font-size: 15px;
  }

  &--medium-bold {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    @include vp-tablet {
      font-weight: 500;
      font-size: 15px;
      line-height: 130%;
    }
  }

  &--small {
    font-size: 14px;
  }

  &--small-extra {
    font-size: 13px;
  }
}
