//- BLOCKS -

//- common..
include ./blocks/common/manufacturers

//- page-name..
include ./blocks/index/intro
include ./blocks/index/advantages


//- UI
include ./ui/icon
include ./ui/img
include ./ui/btn
include ./ui/navigation-swiper
include ./ui/slider-image
