//- BLOCKS -

//- common..
include ./blocks/common/manufacturers
include ./blocks/common/confidence
include ./blocks/common/company
include ./blocks/common/certificates
include ./blocks/common/cooperation
include ./blocks/common/viewed
include ./blocks/common/breadcrumbs
include ./blocks/common/company-image
include ./blocks/common/video
include ./blocks/common/video-vlog

//- page-name..
include ./blocks/index/intro
include ./blocks/index/advantages
include ./blocks/index/popular
include ./blocks/index/news-company

include ./blocks/product/card-product
include ./blocks/product/composition
include ./blocks/product/similar-product

include ./blocks/catalog/catalog-block

include ./blocks/news/news-block

include ./blocks/news-article/article
include ./blocks/news-article/article-banner

include ./blocks/about-company/article-company
include ./blocks/about-company/gratitude

//- UI
include ./ui/icon
include ./ui/img
include ./ui/btn
include ./ui/link
include ./ui/navigation-swiper
include ./ui/slider-image
include ./ui/catalog-card
include ./ui/request
include ./ui/news-cards
include ./ui/custom-toggle
include ./ui/slider-card
include ./ui/pagination
