mixin gifts-attachments()
  -
    const optionsGifts = [
      {
        linkItem: '#',
        nameItem: 'Подарки с символом года'
      },
      {
        linkItem: '#',
        nameItem: 'Подарки в упаковке из текстиля'
      },
      {
        linkItem: '#',
        nameItem: 'Подарки в упаковке из жести'
      },
      {
        linkItem: '#',
        nameItem: 'Подарки в упаковке из картона'
      },
      {
        linkItem: '#',
        nameItem: 'Подарки в тубе'
      },
      {
        linkItem: '#',
        nameItem: 'Подарочные наборы'
      },
    ];

    const optionsAttachments = [
      {
        linkItem: '#',
        nameItem: 'Наборы для творчества'
      },
      {
        linkItem: '#',
        nameItem: 'Развивающие наборы'
      },
      {
        linkItem: '#',
        nameItem: 'Настольные игры'
      },
      {
        linkItem: '#',
        nameItem: 'Игрушки и прочее'
      },
    ];

  section.gifts-attachments&attributes(attributes)
    .wrapper
      .gifts-attachments__container

        .title.title--medium.gifts-attachments__title
          h2 Наш каталог


        .gifts-attachments__category-inner
          a.title.title--medium-uppercase.gifts-attachments__inner-title(href="#", aria-label="Переход в категорию подарков")
            h3 ПОДАРКИ
            +img("category-gifts", "png", 204, 145, "Иконка категории.")

          ul.gifts-attachments__list

            each option in optionsGifts
              li.gifts-attachments__item
                +btn({href: option.linkItem}).btn--border-clear.gifts-attachments__btn(aria-label="Переход в раздел в категории подарков")
                  span!= option.nameItem

        .gifts-attachments__category-inner
          a.title.title--medium-uppercase.gifts-attachments__inner-title(href="#", aria-label="Переход в категорию вложения")
            h3 ВЛОЖЕНИЯ
            +img("category-attachments", "png", 204, 145, "Иконка категории.")

          ul.gifts-attachments__list

            each option in optionsAttachments
              li.gifts-attachments__item
                +btn({href: option.linkItem}).btn--border-clear.gifts-attachments__btn(aria-label="Переход в раздел в категории вложения")
                  span!= option.nameItem
