mixin popular()

  -
    const optionsCard = [
      {
        hrefProduct: "#",
        imageName: "toy-dragon",
        textTitle: "Сладкий подарок «Антошка»",
        textCode: "7898",
        textPrice: "1300 руб.",
        textInfo: "800 гр.",
      },
    ];

  section.popular&attributes(attributes)
    .wrapper
      .popular__container
        .popular__content

          .title.title--medium.popular__title
              h2 Популярные позиции

          each option in optionsCard
            +catalog-card(option).popular__catalog-card

          +btn().btn--border-dashed-base.popular__btn-look
            span Смотреть еще

