@font-face {
  font-family: 'Roboto Flex';
  src: url('/fonts/RobotoFlex-VariableFont.woff2') format('woff2-variations'),
    url('/fonts/RobotoFlex-VariableFont.woff') format('woff-variations'),
    url('/fonts/RobotoFlex-VariableFont.ttf') format('ttf-variations');
  font-weight: 100 900;
}
