@mixin clearlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}


// Mobile first

@mixin vp-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin vp-tablet-landscape {
  @media screen and (min-width: $tablet-landscape) {
    @content;
  }
}

@mixin vp-desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
