// colors
$primary: plum; // example
$secondary: lime; // example
$accent: cyan; // example

// colors default
$white: #ffffff;
$black: #000000;
$transparent: rgba(255, 255, 255, 0);

// indents
$padding-x: 4.35%;
$padding-x-tablet: 4.17%;
$padding-x-tablet-landscape: 2.78%;
$padding-x-desktop: 40px;
$indent: 20px;
$indent-small: 10px;

// borders
$br-default: 8px; // example

// fonts
$base-font: 'Roboto Flex', 'Arial', sans-serif;

// media
$mobile-only: 779px;
$tablet: 720px;
$tablet-landscape: 1024px;
$desktop: 1440px;
