// colors
$primary: #623061;
$primary-hover: #743573;
$logo-text-header: #5e5a67;
$special-color-header:#333333;
$logo-text: #6d658d;
$secondary: #909090;
$bg-intro: #055b5c;
$bg-image: #814793;
$accent-title: #fecb5e;
$accent-bg-items: #ffdf85;
$accent-bg-items-hover: #ffd151;
$accent-bg: #f7f7f7;
$base-bg-btn: #f8f8f8;
$accent-link: #e72222;
$blur-bg: #fff4fe;
$border-fill: #e2e3e5;
$base: #111111;
$grey: #727272;

// colors default
$white: #ffffff;
$black: #000000;
$transparent: rgba(255, 255, 255, 0);

// indents
$padding-x: 4.35%;
$padding-x-tablet: 4.17%;
$padding-x-tablet-landscape: 2.78%;
$padding-x-desktop: 40px;
$indent: 20px;
$indent-small: 10px;

// borders
$br-default: 8px; // example

// fonts
$base-font: 'Roboto Flex', 'Arial', sans-serif;

// media
$mobile-only: 719px;
$tablet: 720px;
$tablet-landscape: 1024px;
$desktop: 1440px;

// animation-micro
$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-600:                         0.6s $tf-default;
