.composition {
  max-width: 100vw;
  color: $base;

  &__title {
    margin-bottom: 40px;

    @include vp-tablet {
      margin-bottom: 50px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include vp-tablet-landscape {
      display: grid;
      grid-template-columns: 25.74% auto;
      grid-template-rows: min-content min-content auto auto;
      column-gap: 20px;
    }

    @include vp-desktop {
      column-gap: 40px;
    }
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include vp-tablet-landscape {
      grid-column: 2 / -1;
    }
  }

  &__nav + &__section {
    grid-row: 1 / 4;
  }

  &__request {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__nav {
    background-color: $accent-bg;
    border-radius: 8px;
    height: fit-content;
    padding: 35px 25px 35px;
    margin-bottom: 30px;

    @include vp-tablet {
      margin-bottom: 40px;
    }

    @include vp-tablet-landscape {
      position: sticky;
      top: 164px;
      z-index: 2;
      padding: 40px 25px 35px;

      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-bottom: 30px;
    }

    span {
      display: block;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      background-color: $accent-bg-items;
      padding: 12px 20px;
      border-radius: 8px;
      margin-bottom: 14px;

      @include vp-tablet {
        font-size: 16px;
      }

      @include vp-tablet-landscape {
        margin-bottom: 14px;
      }
    }
  }

  &__nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__nav-link {
    color: rgba($base, 0.7);
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;

    @include vp-tablet {
      font-size: 16px;
    }
  }

  &__section-title {
    margin-bottom: 30px;
  }

  &__section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include vp-tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include vp-tablet-landscape {
      grid-template-columns: repeat(auto-fill, minmax(207px, 1fr));
    }

    @include vp-desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__section-card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid $border-fill;
    border-radius: 8px;
    padding: 13px 18px 25px;
  }

  &__card-image {
    margin-bottom: 6px;

    @include vp-desktop {
      margin-bottom: 12px;
    }

    img {
      height: 121px;
      width: 100%;
      margin: 0 auto;
      object-position: center;
      object-fit: contain;

      @include vp-desktop {
        height: 148px;
      }
    }
  }

  &__card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__card-info {
    position: absolute;
    top: 18px;
    right: 18px;

    i {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;

      @include vp-tablet {
        font-size: 22px;
      }
    }
  }
}
