mixin vacancies()
  -
    const optionsItemAccordion = [
      {
        titlePro: 'Менеджер-кассир',
        detailsLocation: 'г. Волгоград',
        detailsWager: '50 000₽',
        textRequirements: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия.',
        timetable: 'Пн-пт 9:00-18:00, сб 9:00-15:00',
        linkPhone: 'tel:+74929999999',
        callbackContact: '+7 (492) 999-99-99, Светлана'
      },
      {
        titlePro: 'Менеджер-кассир',
        detailsLocation: 'г. Волгоград',
        detailsWager: '50 000₽',
        textRequirements: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия.',
        timetable: 'Пн-пт 9:00-18:00, сб 9:00-15:00',
        linkPhone: 'tel:+74929999999',
        callbackContact: '+7 (492) 999-99-99, Светлана'
      },
      {
        titlePro: 'Менеджер-кассир',
        detailsLocation: 'г. Волгоград',
        detailsWager: '50 000₽',
        textRequirements: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия.',
        timetable: 'Пн-пт 9:00-18:00, сб 9:00-15:00',
        linkPhone: 'tel:+74929999999',
        callbackContact: '+7 (492) 999-99-99, Светлана'
      },
    ];


  section.vacancies&attributes(attributes)
      .wrapper
        .vacancies__inner
          .vacancies__content
            .title.title--medium.vacancies__content-title
              h2 Вакансии в&nbsp;Саратовской области

            .vacancies__content-container

              .vacancies__tabs
                h3.vacancies__tabs-buttons-title Вакансии в филиалах
                ul.vacancies__tabs-list
                  li
                    button.vacancies__tabs-button.vacancies__tabs-button--active Волгоградская область (4)
                  li
                    button.vacancies__tabs-button Московская область (1)



              ul.vacancies__accordion.vacancies__accordion--show
                each option in optionsItemAccordion
                  +accordion-item(option).vacancies__accordion-item

              ul.vacancies__accordion
                each option in optionsItemAccordion
                  +accordion-item(option).vacancies__accordion-item

          .vacancies__no-vacancies(style="display: none;")
            +icon("icon-partner", 104, 104)
            p На данный момент у нас нет свободных вакансий или предложений
