mixin vacancies()

  section.vacancies&attributes(attributes)
      .wrapper
        .vacancies__inner
          .vacancies__content
            .vacancies__content-title
              h2 Вакансии в Саратовской области

          .vacancies__no-vacancies(style="display: none;")
            +icon("icon-partner", 104, 104)
            p На данный момент у нас нет свободных вакансий или предложений
