.catalog-block {
  max-width: 100vw;

  .wrapper {
    padding: 0;

    @include vp-tablet-landscape {
      padding: 0 $padding-x-tablet-landscape;
    }

    @include vp-desktop {
      padding: 0 $padding-x-desktop;
    }
  }

  &__title {
    margin-bottom: 40px;
    padding: 0 $padding-x;

    @include vp-tablet {
      margin-bottom: 50px;
      padding: 0 $padding-x-tablet;
    }

    @include vp-tablet-landscape {
      padding: 0;
    }
  }

  &__content {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;

    @include vp-tablet-landscape {
      grid-template-columns: 350px 1fr;
      gap: 12px 20px;
    }

    @include vp-desktop {
      gap: 12px 40px;
    }
  }

  &__filters {
    color: $white;
    background-color: $primary;
    margin-left: calc($padding-x * 2.06);

    @include vp-tablet {
      margin-left: calc($padding-x-tablet * 2.0336);
    }

    @include vp-tablet-landscape {
      margin-left: 0;
    }
  }

  &__sort {
    background-color: $accent-bg;
    margin-right: calc($padding-x * 2.06);

    @include vp-tablet {
      margin-right: calc($padding-x-tablet * 2.0336);
    }

    @include vp-tablet-landscape {
      margin-right: 0;
    }
  }

  &__cards {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    background-color: $border-fill;

    grid-column: 1 / -1;

    padding-top: 1px;
    padding-bottom: 1px;

    @include vp-tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include vp-tablet-landscape {
      gap: 7px 5px;
      background-color: $white;

      grid-column: 2 / -1;

      padding-top: 0;
      padding-bottom: 0;
    }

    @include vp-desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px 20px;
    }
  }

  &__cards-item {
    background-color: $white;
  }
}
