section.partnership-main-block(class=partnershipClassName)
  .wrapper
    .partnership-main-block__inner
      h1.partnership-main-block__title.title.title--medium Стать нашим представителем
      p.partnership-main-block__text.text Если вы являетесь торгующей организацией на территории, не представленной
        a(href="/contacts/")  в разделе контакты
        | , то Вы можете стать нашим <br/> представителем в своем регионе
      img.partnership-main-block__map(src='/images/partnership-map.svg', width="300", height="100", alt="Предстваительства в 9 городах")
