-
  const partnershipFeatures = [
    '<strong>Индивидуальные условия поставки</strong>, дающие большую манёвренность в условиях повышенной конкуренции',
    '<strong>Приоритетность в регионах</strong>, мы будем передавать Вам клиентов из регионов закрепленных за Вами',
    '<strong>Бесплатная доставка заказов</strong>',
    '<strong>Возможность выезда специалиста</strong> в Ваш регион для объезда и привлечения клиентов по нашей номенклатуре, что привлечет большое количество покупателей <br/><br/> Как показывает практика 80% Ваших клиентов, даже не понимают, что им надо и на что вы будете с нами способны',
    '<strong>Набор выставочных образцов.</strong> Мы предоставляем Вам по согласованию, стеллаж 185х70х30 для выставки нашей продукции на условиях ее реализации или возврата <br/><br/> Отличный способ прощупать рынок на предмет запросов, вы сможете не просто объяснить но и показать, качество которое вы предоставляете'
  ]

section.partnership-features(class=partnershipFeaturesClassName)
  .wrapper
    .partnership-features__inner
      h2.partnership-features__title.title.title--medium Что получают наши <br/> представители в регионах?
      ul.ppartnership-features__list
        each item, index in partnershipFeatures
          li.partnership-features__item
            span.partnership-features__item-number #{index + 1}
            p.partnership-features__item-text.text!= item
