mixin navigation-swiper()

  .navigation-swiper&attributes(attributes)
    .navigation-swiper__btn-prev.swiper-button-prev(tabindex="0")
    .navigation-swiper__btn-next.swiper-button-next(tabindex="0")
