form.search-form(class=serachFormClassName)
  .search-form__input-container
    input.search-form__input.input(type="text", placeholder="Поиск по: названию, артикулу, производителю")
    button.search-form__submit
      svg
        use(href="/images/sprite.svg#search")
