ul.footer__socials.socials(class=socialsClass)
  li
    a.socials__link(href="#")
      svg.socials__icon
        use(href="/images/sprite.svg#telegram")
  li
    a.socials__link(href="#")
      svg.socials__icon
        use(href="/images/sprite.svg#whatsapp")
