.swiper-navigation(class=swiperNavigationClassName)
  button.swiper-navigation-prev(type="button")
    svg
      use(href='/images/sprite.svg#tick')
  button.swiper-navigation-next(type="button")
    svg
      use(href='/images/sprite.svg#tick')
